* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: cursive;
}

body {
  background: linear-gradient(135deg, #228b22, #6b8e23, #000000);
}

.nav-bar-container {
  height: 80px;
  box-shadow: 0px 0.1px 3px black;
}

.nav-bar-content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.davy-logo {
  position: relative;
  top: 18px;
}

.links-group {
  display: flex;
  position: relative;
  gap: 80px;
  right: 20px;
  text-decoration: none;
}

.links-group a {
  font-weight: bold;
  font-size: 17px;
  background-color: whitesmoke;
  background-clip: text;
  color: transparent;
  position: relative;
  transform: scaleX(1);
}

.links-group a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease;
  background-color: white;
}

.links-group a:hover::after {
  transform: scaleX(1);
}

.links-group a:active {
  transform: scale(0.9);
}